aws-cni
aws-k8s-agent
cni-metrics-helper
grpc-health-probe
portmap
loopback
bandwidth
routed-eni-cni-plugin

# Docker doesn't need the actual Dockerfile in the context.
# Ignoring these allows us to iterate on Dockerfiles without
# invalidating the docker cache on every change.
scripts/dockerfiles/Dockerfile.*
