# Ignore generated binaries
aws-k8s-agent
aws-cni
aws-vpc-cni
aws-vpc-cni-init
verify-aws
verify-network
*~
*.swp
.idea/
*.iml
.DS_Store
portmap
grpc-health-probe
cni-metrics-helper
coverage.txt
core-plugins/
build/
vendor
egress-cni
# Unignore charts directory as it's confilcts with `aws-vpc-cni` binary ignore rule
!charts/**