{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2014-11-13",
    "endpointPrefix":"ecsacs",
    "jsonVersion":"1.1",
    "protocol":"json",
    "serviceAbbreviation":"Amazon ECS ACS",
    "serviceFullName":"Amazon EC2 Container Service Agent Communication Service",
    "signatureVersion":"v4",
    "targetPrefix":"AmazonEC2ContainerAgentServiceV20141113",
    "uid":"ecsacs-2014-11-13"
  },
  "operations":{
    "AttachTaskNetworkInterfaces":{
      "name":"AttachTaskNetworkInterfaces",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AttachTaskNetworkInterfacesMessage"},
      "output":{"shape":"AckRequest"}
    },
    "Error":{
      "name":"Error",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ErrorMessage"}
    },
    "Heartbeat":{
      "name":"Heartbeat",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"HeartbeatMessage"}
    },
    "Payload":{
      "name":"Payload",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PayloadMessage"},
      "output":{"shape":"AckRequest"}
    },
    "PerformUpdate":{
      "name":"PerformUpdate",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PerformUpdateMessage"},
      "output":{"shape":"AckRequest"}
    },
    "Poll":{
      "name":"Poll",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PollRequest"},
      "output":{"shape":"CloseMessage"},
      "errors":[
        {"shape":"ServerException"},
        {"shape":"BadRequestException"},
        {"shape":"InvalidClusterException"},
        {"shape":"AccessDeniedException"},
        {"shape":"InvalidInstanceException"},
        {"shape":"InactiveInstanceException"}
      ]
    },
    "RefreshTaskIAMRoleCredentials":{
      "name":"RefreshTaskIAMRoleCredentials",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"IAMRoleCredentialsMessage"},
      "output":{"shape":"IAMRoleCredentialsAckRequest"}
    },
    "StageUpdate":{
      "name":"StageUpdate",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StageUpdateMessage"},
      "output":{"shape":"AckRequest"}
    },
    "UpdateFailure":{
      "name":"UpdateFailure",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"NackRequest"}
    }
  },
  "shapes":{
    "AccessDeniedException":{
      "type":"structure",
      "members":{
        "message":{"shape":"String"}
      },
      "exception":true
    },
    "AckRequest":{
      "type":"structure",
      "members":{
        "cluster":{"shape":"String"},
        "containerInstance":{"shape":"String"},
        "messageId":{"shape":"String"}
      }
    },
    "AttachTaskNetworkInterfacesMessage":{
      "type":"structure",
      "members":{
        "containerInstanceArn":{"shape":"String"},
        "clusterArn":{"shape":"String"},
        "taskArn":{"shape":"String"},
        "generatedAt":{"shape":"Long"},
        "messageId":{"shape":"String"},
        "waitTimeoutMs":{"shape":"Long"},
        "elasticNetworkInterfaces":{"shape":"ElasticNetworkInterfaceList"}
      }
    },
    "AuthStrategy":{
      "type":"string",
      "enum":["ExecutionRole"]
    },
    "AuthenticationType":{
      "type":"string",
      "enum":["ecr"]
    },
    "BadRequestException":{
      "type":"structure",
      "members":{
        "message":{"shape":"String"}
      },
      "exception":true
    },
    "Boolean":{"type":"boolean"},
    "CloseMessage":{
      "type":"structure",
      "members":{
        "message":{"shape":"String"}
      }
    },
    "Container":{
      "type":"structure",
      "members":{
        "command":{"shape":"StringList"},
        "cpu":{"shape":"Integer"},
        "entryPoint":{"shape":"StringList"},
        "environment":{"shape":"EnvironmentVariables"},
        "essential":{"shape":"Boolean"},
        "image":{"shape":"String"},
        "links":{"shape":"StringList"},
        "memory":{"shape":"Integer"},
        "name":{"shape":"String"},
        "overrides":{"shape":"String"},
        "portMappings":{"shape":"PortMappingList"},
        "mountPoints":{"shape":"MountPointList"},
        "volumesFrom":{"shape":"VolumeFromList"},
        "dockerConfig":{"shape":"DockerConfig"},
        "registryAuthentication":{"shape":"RegistryAuthenticationData"},
        "logsAuthStrategy":{"shape":"AuthStrategy"}
      }
    },
    "ContainerList":{
      "type":"list",
      "member":{"shape":"Container"}
    },
    "DockerConfig":{
      "type":"structure",
      "members":{
        "version":{"shape":"String"},
        "config":{"shape":"String"},
        "hostConfig":{"shape":"String"}
      }
    },
    "Double":{"type":"double"},
    "ECRAuthData":{
      "type":"structure",
      "members":{
        "registryId":{"shape":"String"},
        "region":{"shape":"String"},
        "endpointOverride":{"shape":"String"},
        "useExecutionRole":{"shape":"Boolean"}
      }
    },
    "ElasticNetworkInterface":{
      "type":"structure",
      "members":{
        "macAddress":{"shape":"String"},
        "attachmentArn":{"shape":"String"},
        "ec2Id":{"shape":"String"},
        "ipv4Addresses":{"shape":"IPv4AddressList"},
        "ipv6Addresses":{"shape":"IPv6AddressList"},
        "domainName":{"shape":"StringList"},
        "domainNameServers":{"shape":"StringList"}
      }
    },
    "ElasticNetworkInterfaceList":{
      "type":"list",
      "member":{"shape":"ElasticNetworkInterface"}
    },
    "EnvironmentVariables":{
      "type":"map",
      "key":{"shape":"String"},
      "value":{"shape":"String"}
    },
    "ErrorMessage":{
      "type":"structure",
      "members":{
        "message":{"shape":"String"}
      }
    },
    "HeartbeatMessage":{
      "type":"structure",
      "members":{
        "healthy":{"shape":"Boolean"}
      }
    },
    "HostVolumeProperties":{
      "type":"structure",
      "members":{
        "sourcePath":{"shape":"String"}
      }
    },
    "IAMRoleCredentials":{
      "type":"structure",
      "members":{
        "credentialsId":{"shape":"String"},
        "roleArn":{"shape":"String"},
        "accessKeyId":{"shape":"String"},
        "secretAccessKey":{"shape":"SensitiveString"},
        "sessionToken":{"shape":"String"},
        "expiration":{"shape":"String"}
      }
    },
    "IAMRoleCredentialsAckRequest":{
      "type":"structure",
      "members":{
        "messageId":{"shape":"String"},
        "expiration":{"shape":"String"},
        "credentialsId":{"shape":"String"}
      }
    },
    "IAMRoleCredentialsMessage":{
      "type":"structure",
      "members":{
        "taskArn":{"shape":"String"},
        "roleCredentials":{"shape":"IAMRoleCredentials"},
        "roleType":{"shape":"RoleType"},
        "messageId":{"shape":"String"}
      }
    },
    "IPv4AddressAssignment":{
      "type":"structure",
      "members":{
        "privateAddress":{"shape":"String"},
        "primary":{"shape":"Boolean"}
      }
    },
    "IPv4AddressList":{
      "type":"list",
      "member":{"shape":"IPv4AddressAssignment"}
    },
    "IPv6AddressAssignment":{
      "type":"structure",
      "members":{
        "address":{"shape":"String"}
      }
    },
    "IPv6AddressList":{
      "type":"list",
      "member":{"shape":"IPv6AddressAssignment"}
    },
    "InactiveInstanceException":{
      "type":"structure",
      "members":{
        "message":{"shape":"String"}
      },
      "exception":true
    },
    "Integer":{"type":"integer"},
    "InvalidClusterException":{
      "type":"structure",
      "members":{
        "message":{"shape":"String"}
      },
      "exception":true
    },
    "InvalidInstanceException":{
      "type":"structure",
      "members":{
        "message":{"shape":"String"}
      },
      "exception":true
    },
    "Long":{"type":"long"},
    "MountPoint":{
      "type":"structure",
      "members":{
        "sourceVolume":{"shape":"String"},
        "containerPath":{"shape":"String"},
        "readOnly":{"shape":"Boolean"}
      }
    },
    "MountPointList":{
      "type":"list",
      "member":{"shape":"MountPoint"}
    },
    "NackRequest":{
      "type":"structure",
      "members":{
        "cluster":{"shape":"String"},
        "containerInstance":{"shape":"String"},
        "messageId":{"shape":"String"},
        "reason":{"shape":"String"}
      }
    },
    "PayloadMessage":{
      "type":"structure",
      "members":{
        "containerInstanceArn":{"shape":"String"},
        "clusterArn":{"shape":"String"},
        "tasks":{"shape":"TaskList"},
        "generatedAt":{"shape":"Long"},
        "messageId":{"shape":"String"},
        "seqNum":{"shape":"Integer"}
      }
    },
    "PerformUpdateMessage":{
      "type":"structure",
      "members":{
        "containerInstanceArn":{"shape":"String"},
        "clusterArn":{"shape":"String"},
        "updateInfo":{"shape":"UpdateInfo"},
        "messageId":{"shape":"String"}
      }
    },
    "PollRequest":{
      "type":"structure",
      "members":{
        "cluster":{"shape":"String"},
        "containerInstance":{"shape":"String"},
        "seqNum":{"shape":"Integer"},
        "versionInfo":{"shape":"VersionInfo"},
        "sendCredentials":{"shape":"Boolean"}
      }
    },
    "PortMapping":{
      "type":"structure",
      "members":{
        "containerPort":{"shape":"Integer"},
        "hostPort":{"shape":"Integer"},
        "protocol":{"shape":"TransportProtocol"}
      }
    },
    "PortMappingList":{
      "type":"list",
      "member":{"shape":"PortMapping"}
    },
    "RegistryAuthenticationData":{
      "type":"structure",
      "members":{
        "type":{"shape":"AuthenticationType"},
        "ecrAuthData":{"shape":"ECRAuthData"}
      }
    },
    "RoleType":{
      "type":"string",
      "enum":[
        "TaskApplication",
        "TaskExecution"
      ]
    },
    "SensitiveString":{
      "type":"string",
      "sensitive":true
    },
    "ServerException":{
      "type":"structure",
      "members":{
        "message":{"shape":"String"}
      },
      "exception":true
    },
    "StageUpdateMessage":{
      "type":"structure",
      "members":{
        "containerInstanceArn":{"shape":"String"},
        "clusterArn":{"shape":"String"},
        "updateInfo":{"shape":"UpdateInfo"},
        "messageId":{"shape":"String"}
      }
    },
    "String":{"type":"string"},
    "StringList":{
      "type":"list",
      "member":{"shape":"String"}
    },
    "Task":{
      "type":"structure",
      "members":{
        "arn":{"shape":"String"},
        "containers":{"shape":"ContainerList"},
        "desiredStatus":{"shape":"String"},
        "family":{"shape":"String"},
        "overrides":{"shape":"String"},
        "version":{"shape":"String"},
        "taskDefinitionAccountId":{"shape":"String"},
        "volumes":{"shape":"VolumeList"},
        "roleCredentials":{"shape":"IAMRoleCredentials"},
        "executionRoleCredentials":{"shape":"IAMRoleCredentials"},
        "elasticNetworkInterfaces":{"shape":"ElasticNetworkInterfaceList"},
        "cpu":{"shape":"Double"},
        "memory":{"shape":"Integer"}
      }
    },
    "TaskList":{
      "type":"list",
      "member":{"shape":"Task"}
    },
    "TransportProtocol":{
      "type":"string",
      "enum":[
        "tcp",
        "udp"
      ]
    },
    "UpdateInfo":{
      "type":"structure",
      "members":{
        "location":{"shape":"String"},
        "signature":{"shape":"String"}
      }
    },
    "VersionInfo":{
      "type":"structure",
      "members":{
        "agentVersion":{"shape":"String"},
        "agentHash":{"shape":"String"},
        "dockerVersion":{"shape":"String"}
      }
    },
    "Volume":{
      "type":"structure",
      "members":{
        "name":{"shape":"String"},
        "host":{"shape":"HostVolumeProperties"}
      }
    },
    "VolumeFrom":{
      "type":"structure",
      "members":{
        "sourceContainer":{"shape":"String"},
        "readOnly":{"shape":"Boolean"}
      }
    },
    "VolumeFromList":{
      "type":"list",
      "member":{"shape":"VolumeFrom"}
    },
    "VolumeList":{
      "type":"list",
      "member":{"shape":"Volume"}
    }
  }
}
