name: Build x64 and ARM64 images

on:
  pull_request:
    branches:
      - 'master'
      - 'release*'  

jobs:
  build_x86:
    name: Build x86
    runs-on: ubuntu-latest
    steps:

    - name: Set up Go 1.18
      uses: actions/setup-go@v2
      with:
        go-version: '1.18'
      id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@v2

    - name: Clean up stale docker images
      run: docker image prune -f

    - name: Build
      run: make docker all
      
  build_arm:
    name: Build ARM64
    runs-on: [self-hosted, linux, arm64]
    steps:

    - name: Set up Go 1.18
      uses: actions/setup-go@v2
      with:
        go-version: '1.18'
      id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@v2

    - name: Clean up stale docker images
      run: docker image prune -f

    - name: Build
      run: make docker all
