name: Integration tests

on:
  # Runs on push to master or release branches
  push:
    branches:
      - 'master'
      - 'release*'

permissions:
  contents: read

jobs:
  integration-trusted:
    runs-on: [self-hosted, linux, x64]
    steps:
      - name: Set up Go 1.16
        uses: actions/setup-go@v2
        with:
          go-version: '1.16'
        id: go

      - name: Check out code into the Go module directory
        uses: actions/checkout@v2

      - name: Get dependencies
        run: |
          go install golang.org/x/lint/golint@latest
          go install golang.org/x/tools/cmd/goimports@latest

      - name: Clean up stale docker images
        run: sudo docker image prune -f

      - name: Run e2e tests
        env:
          DISABLE_PROMPT: true
          ROLE_CREATE: false
          ROLE_ARN: ${{ secrets.ROLE_ARN }}
          MNG_ROLE_ARN: ${{ secrets.MNG_ROLE_ARN }}
          RUN_CONFORMANCE: true
          AWS_DEFAULT_REGION: ${{ secrets.AWS_DEFAULT_REGION }}
          S3_BUCKET_CREATE: false
          S3_BUCKET_NAME: ${{ secrets.S3_BUCKET_NAME }}
        run: |
          ./scripts/run-integration-tests.sh
