name: Automatic Pull Request test
on:
  pull_request:
    branches:
      - "master"
      - "release*"
      - "sdkv2*"
permissions:
  contents: read
jobs:
  unit-test:
    name: Unit test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout latest commit in the PR
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # refs/tags/v6.0.1
      - name: Set up Go
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # refs/tags/v6.0.0
        with:
          go-version: "1.25"
          check-latest: true
      - name: Set up tools
        run: |
          go install golang.org/x/lint/golint@latest
          go install golang.org/x/tools/cmd/goimports@latest
          # Install ginkgo version from go.mod
          go install -mod=mod github.com/onsi/ginkgo/v2/ginkgo
      - name: Run code checks
        run: |
          make check-format
          make vet
      - name: Build
        run: make build-linux
      - name: Build tests
        run: make build-test-binaries
      - name: Helm lint
        run: make helm-lint
      - name: Unit test
        run: make unit-test
      - name: Upload code coverage
        uses: codecov/codecov-action@79066c46f8dcdf8d7355f820dbac958c5b4cb9d3 # refs/tags/v4.5.0
        with:
            token: ${{ secrets.CODECOV_TOKEN }}
  docker-build:
    name: Build Docker images
    runs-on: ubuntu-latest
    steps:
      - name: Checkout latest commit in the PR
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # refs/tags/v6.0.1
      - name: Set up QEMU
        uses: docker/setup-qemu-action@29109295f81e9208d7d86ff1c6c12d2833863392 # refs/tags/v3.6.0
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # refs/tags/v3.11.1
      - name: Set up Go
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # refs/tags/v6.0.0
        with:
          go-version: "1.25"
          check-latest: true
      - name: Build CNI images
        run: make multi-arch-cni-build
  docker-build-init:
    name: Build Docker init images
    runs-on: ubuntu-latest
    steps:
      - name: Checkout latest commit in the PR
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # refs/tags/v6.0.1
      - name: Set up QEMU
        uses: docker/setup-qemu-action@29109295f81e9208d7d86ff1c6c12d2833863392 # refs/tags/v3.6.0
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # refs/tags/v3.11.1
      - name: Set up Go
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # refs/tags/v6.0.0
        with:
          go-version: "1.25"
          check-latest: true
      - name: Build CNI Init images
        run: make multi-arch-cni-init-build
